
.grid_container
{
    display: grid;
    grid-template-columns: 132px 132px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
	margin: 4px;
}

.columns_2col
{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.cell
{
    justify-self: stretch;
    align-self: center;
	padding:2px;
}
